[submodule "ThirdParty/gtest"]
	path = ThirdParty/gtest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/glad"]
	path = ThirdParty/glad
	url = https://github.com/Dav1dde/glad.git
